.container{
	width: 250px;
	height: 180px;
	border: solid black;
	border-radius: 5px;
	
}

.container{
	background: #7F7FD5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


input{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}

.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
}
.custom-loader::before,
.custom-loader::after {    
    content:"";
    grid-area: 1/1;
    --c: radial-gradient(farthest-side,#766DF4 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s2 1s infinite;
}
.custom-loader::before {
  margin:4px;
  filter:hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2{ 
  100%{transform: rotate(.5turn)}
}
  @keyframes s2 {to{transform: rotate(1turn)}}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Zilla Slab Highlight", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 3s infinite alternate;
	stroke-width: 2;
	stroke: #339AA0;
	font-size: <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">180</font></font>px;
}
@keyframes stroke {
	0%   {
		fill: rgba(204,39,114,0); stroke: rgba(51,154,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(204,39,114,0); stroke: rgba(51,154,160,1); }
	80%  {fill: rgba(204,39,114,0); stroke: rgba(51,154,160,1); stroke-width: 3; }
	100% {
		fill: rgba(204,39,114,1); stroke: rgba(51,154,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};

