header{
    width: 100%;
    background-color: ;
}

form{
    width: 300px;
    background-color: blueviolet;
    margin: auto;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
}
li{
    margin-bottom: 10px;
    text-align: left;
}
